.calendar-item{
  cursor: pointer;
}
.calendar-item-disabled{
  cursor: not-allowed;
  color: #ccc;
}
.dot{
  $len: 5px;
  display: inline-block;
  width: $len;
  height: $len;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -10px;
}
.date-num{
  position: relative;
}
